---
layout: default
---

<!-- _layouts/cv.html -->

<p>hi worlds2</p>
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
    {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <h4>Table of contents</h4>
  <ul class="timeline">
    {% for entry in site.data.cv %}
      <li><a href="#{{ entry.title }}"><span class="badge-toc">{{ entry.title }}</span></a></li>
    {% endfor %}
  </ul>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          <div>
            {% case entry.type %}
              {% when "list" %}
                {% include cv/list.html %}
              {% when "map" %}
                {% include cv/map.html %}
              {% when "nested_list" %}
                {% include cv/nested_list.html %}
              {% when "time_table" %}
                {% include cv/time_table.html %}
              {% when "list_groups" %}
                {% include cv/list_groups.html %}
              {% else %}
                {{ entry.contents }}
            {% endcase %}
          </div>
        </div>
      {% endfor %}
    </div>
  </article>

</div>

